127.0.0.1   localhost
127.0.1.1   {{ inventory_hostname }}.demarzo.lab {{ inventory_hostname }}

# TheRising cluster nodes
10.12.5.11  darrow.demarzo.lab darrow
10.12.5.12  sevro.demarzo.lab sevro
10.12.5.13  ragnar.demarzo.lab ragnar

# Standalone nodes
10.12.5.14  sefi.demarzo.lab sefi

# DNS
10.12.5.53  dns1.demarzo.lab dns1
